@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	color: #555555;
	background-color: #FFFFFF;
	margin: 0;
	padding-bottom: 100px; /* Same height as footer */
}
h1, h2, h3, h4, h5 {
	color: #394352;
}
.content-wrapper {
	width: 1050px;
	margin: 0 auto;
}

header {
	border-bottom: 1px solid #EEEEEE;
}
header .content-wrapper {
	display: flex;
}
header h1 {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 20px;
	margin: 0;
	padding: 24px 0;
}
header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
}
header nav a {
	text-decoration: none;
	color: #555555;
	padding: 10px 10px;
	margin: 0 10px;
}
header nav a:hover {
	border-bottom: 1px solid #aaa;
}
header .link-icons {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
header .link-icons a {
	text-decoration: none;
	color: #394352;
	padding: 0 10px;
}
header .link-icons a:hover {
	color: #4e5c70;
}
header .link-icons a i {
	font-size: 18px;
}
header .link-icons a span {
	display: inline-block;
	text-align: center;
	background-color: #63748e;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-weight: bold;
	position: absolute;
	top: 22px;
	right: 0;
}

.copyright p{
margin-top: 15px;
text-align: center;
font-size: 14px;
color: black;
}

/* Login */
.container{
	position: relative;
	max-width: 850px;
	width: 100%;
	background: #fff;
	padding: 40px 30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	perspective: 2700px;
  }
  .container .cover{
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 50%;
	z-index: 98;
	transition: all 1s ease;
	transform-origin: left;
	transform-style: preserve-3d;
  }
  .container #flip:checked ~ .cover{
	transform: rotateY(-180deg);
  }
   .container .cover .front,
   .container .cover .back{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  }
  .cover .back{
	transform: rotateY(180deg);
	backface-visibility: hidden;
  }
  .container .cover::before,
  .container .cover::after{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000000;
	opacity: 0.5;
	z-index: 12;
  }
  .container .cover::after{
	opacity: 0.3;
	transform: rotateY(180deg);
	backface-visibility: hidden;
  }
  .container .cover img{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 10;
  }
  .container .cover .text{
	position: absolute;
	z-index: 130;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  .cover .text .text-1,
  .cover .text .text-2{
	font-size: 26px;
	font-weight: 600;
	color: #fff;
	text-align: center;
  }
  .cover .text .text-2{
	font-size: 15px;
	font-weight: 500;
  }
  .container .forms{
	height: 100%;
	width: 100%;
	background: #fff;
  }
  .container .form-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .form-content .login-form,
  .form-content .signup-form{
	width: calc(100% / 2 - 25px);
  }
  .forms .form-content .title{
	position: relative;
	font-size: 24px;
	font-weight: 500;
	color: #333;
  }
  .forms .form-content .title:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 25px;
	background: #000000;
  }
  .forms .signup-form  .title:before{
	width: 20px;
  }
  .forms .form-content .input-boxes{
	margin-top: 30px;
  }
  .forms .form-content .input-box{
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	margin: 10px 0;
	position: relative;
  }
  .form-content .input-box input{
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	transition: all 0.3s ease;
  }
  .form-content .input-box input:focus,
  .form-content .input-box input:valid{
	border-color: #000000;
  }
  .form-content .input-box i{
	position: absolute;
	color: #000000;
	font-size: 17px;
  }
  .forms .form-content .text{
	font-size: 14px;
	font-weight: 500;
	color: #333;
  }
  .forms .form-content .text a{
	text-decoration: none;
  }
  .forms .form-content .text a:hover{
	text-decoration: underline;
  }
  .forms .form-content .button{
	color: #fff;
	margin-top: 40px;
  }
  .forms .form-content .button input{
	color: #fff;
	background: #000000;
	border-radius: 6px;
	padding: 0;
	cursor: pointer;
	transition: all 0.4s ease;
  }
  .forms .form-content .button input:hover{
	background: #000000;
  }
  .forms .form-content label{
	color: #000000;
	cursor: pointer;
  }
  .forms .form-content label:hover{
	text-decoration: underline;
  }
  .forms .form-content .login-text,
  .forms .form-content .sign-up-text{
	text-align: center;
	margin-top: 25px;
  }
  .container #flip{
	display: none;
  }
  @media (max-width: 730px) {
	.container .cover{
	  display: none;
	}
	.form-content .login-form,
	.form-content .signup-form{
	  width: 100%;
	}
	.form-content .signup-form{
	  display: none;
	}
	.container #flip:checked ~ .forms .signup-form{
	  display: block;
	}
	.container #flip:checked ~ .forms .login-form{
	  display: none;
	}
  }

/* Homepage */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
  }

  .container1{
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
}

.container2{
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto;
}

.card{
  background: white;
  width: 400px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

.card-image{
  background-color: white;
  height: 250px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.brand-1{
  background-image: url(imgs/hias/samsung.jpg);
}
.brand-2{
  background-image: url(imgs/hias/apple.png);
}
.brand-3{
  background-image: url(imgs/hias/huawei.png);
}
.brand-4{
  background-image: url(imgs/hias/oppo.jpg);
}
.brand-5{
  background-image: url(imgs/hias/xiami.png);
}

.card h2{
    padding: 30px;
    text-align: center;
  }
  
  .card p{
    padding: 10px;
  }
  
  .card:hover{
    transform: scale(1.05);
    transition: all .4s ease;
  }
.loginbox input[type="radio"]
{
  margin: 5px;
  position: relative;
  top: 0;
  left: -10px;
  height: 12px;
  width: 30px;
  background-color: #eee;
}
.section{
    margin: 0;
    padding: 0;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 2s;
}
.st img{
    width: 800px;
    height: 500px;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.m-btn{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: blue;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}
#radio5:checked ~.first{
    margin-left: -80%;
}
.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~.nav-auto .a-b1{
    background-color: blue;
}
#radio2:checked ~.nav-auto .a-b2{
    background-color: blue;
}
#radio3:checked ~.nav-auto .a-b3{
    background-color: blue;
}
#radio4:checked ~.nav-auto .a-b4{
    background-color: blue;
}
#radio5:checked ~.nav-auto .a-b5{
    background-color: blue;
}

main .recentlyadded h2 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}
main .recentlyadded .products, main .products .products-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 0 0;
}
main .recentlyadded .products .product, main .products .products-wrapper .product {
	display: block;
	overflow: hidden;
	text-decoration: none;
	width: 30%;
	padding-bottom: 60px;
}
main .recentlyadded .products .product img, main .products .products-wrapper .product img {
	transform: scale(1);
	transition: transform 1s;
}
main .recentlyadded .products .product .name, main .products .products-wrapper .product .name {
	display: block;
	color: #555555;
	padding: 20px 0 2px 0;
}
main .recentlyadded .products .product .price, main .products .products-wrapper .product .price {
	display: block;
	color: #999999;
}
main .recentlyadded .products .product .rrp, main .products .products-wrapper .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
}
main .recentlyadded .products .product:hover img, main .products .products-wrapper .product:hover img {
	transform: scale(1.05);
	transition: transform 1s;
}
main .recentlyadded .products .product:hover .name, main .products .products-wrapper .product:hover .name {
	text-decoration: underline;
}
main > .product {
	display: flex;
	padding: 40px 0;
}
main > .product > div {
	padding-left: 15px;
}
main > .product h1 {
	font-size: 34px;
	font-weight: normal;
	margin: 0;
	padding: 20px 0 10px 0;
}
main > .product .price {
	display: block;
	font-size: 22px;
	color: #999999;
}
main > .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
	font-size: 22px;
	padding-left: 5px;
}
main > .product form {
	display: flex;
	flex-flow: column;
	margin: 40px 0;
}
main > .product form input[type="number"] {
	width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
main > .product form input[type="submit"] {
	background: #4e5c70;
	border: 0;
	color: #FFFFFF;
	width: 400px;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
main > .product form input[type="submit"]:hover {
	background: #614343;
}
main > .products h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main > .products .buttons {
	text-align: right;
	padding-bottom: 80px;
}
main > .products .buttons a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
main > .products .buttons a:hover {
	background: #434f61;
}
main .cart h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .cart table {
	width: 100%;
}
main .cart table thead td {
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
}
main .cart table thead td:last-child {
	text-align: right;
}
main .cart table tbody td {
	padding: 20px 0;
	border-bottom: 1px solid #EEEEEE;
}
main .cart table tbody td:last-child {
	text-align: right;
}
main .cart table .img {
	width: 80px;
}
main .cart table .remove {
	color: red;
	font-size: 12px;
	padding-top: 3px;
}
main .cart table .remove:hover {
	text-decoration: underline;
}
main .cart table .price {
	color: #999999;
}
main .cart table a {
	text-decoration: none;
	color: #555555;
}
main .cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
main .cart .subtotal {
	text-align: right;
	padding: 40px 0;
}
main .cart .subtotal .text {
	padding-right: 40px;
	font-size: 18px;
}
main .cart .subtotal .price {
	font-size: 18px;
	color: #999999;
}
main .cart .buttons {
	text-align: right;
	padding-bottom: 80px;
}
main .cart .buttons input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
main .cart .buttons input[type="submit"]:hover {
	background: #434f61;
}
main .placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .placeorder p {
	text-align: center;
}

  /* About Us */
  .about{
    width: 100%;
    padding: 58px 0px;
  }
  .about img{
    height: 400px;
    width: 500px;
    padding-top: 30px;
  }
  .about-text{
    width: 550px;
  }
  .main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-text h1{
    color: black;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .about-text h5{
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
  .about-text p{
    color: black;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-align: justify;
  }

/* Photo Gallery */
.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

/* Footer */

footer {
	padding: 5px 0;
	position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149); 
    background: white;
}

 footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: black;
  }

  footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  footer .social a:hover{
    opacity: 0.9;
  }

  footer ul{
      margin-top: 0;
      padding: 0;
      list-style: none;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 0;
      text-align: center;
  }
  footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
footer ul li{
    display: inline-block;
    padding: 0 15px;
}
footer ul li a:hover{
    opacity: 1;
}
footer .copyright{
margin-top: 15px;
text-align: center;
font-size: 14px;
color: black;
}